# Rust
/target

# Dependencies
webdemo/node_modules
webdemo/.pnp
webdemo/.pnp.js
webdemo/pnpm-lock.yaml

# Testing
webdemo/coverage

# Production
webdemo/build
webdemo/dist

# Misc
webdemo/.DS_Store
webdemo/.env.local
webdemo/.env.development.local
webdemo/.env.test.local
webdemo/.env.production.local
webdemo/.env

# Logs
webdemo/npm-debug.log*
webdemo/yarn-debug.log*
webdemo/yarn-error.log*
webdemo/pnpm-debug.log*

# Editor directories and files
webdemo/.idea
webdemo/.vscode
webdemo/*.suo
webdemo/*.ntvs*
webdemo/*.njsproj
webdemo/*.sln
webdemo/*.sw?

# TypeScript
webdemo/*.tsbuildinfo

# Optional npm cache directory
webdemo/.npm

# Optional eslint cache
webdemo/.eslintcache

# Optional REPL history
webdemo/.node_repl_history

# Output of 'npm pack'
webdemo/*.tgz

# Yarn Integrity file
webdemo/.yarn-integrity

# Build configuration
# Uncomment these if you want to ignore the config files
# webdemo/postcss.config.js
# webdemo/tailwind.config.js
